Repository benjaminkott/bootstrap_package, pull requests merged in 2021-08, with the labels that each got.

#1028 [TASK] Use fantasticon to build icon font
  .github/workflows/ci.yml
  Build/Gruntfile.js
  Build/bootstrappackageicon.css.hbs
  Build/package-lock.json
  Build/package.json
  Build/templates/font.css
  Resources/Public/Fonts/bootstrappackageicon.css
  Resources/Public/Fonts/bootstrappackageicon.eot
  Resources/Public/Fonts/bootstrappackageicon.min.css
  Resources/Public/Fonts/bootstrappackageicon.ttf
  Resources/Public/Fonts/bootstrappackageicon.woff
  Resources/Public/Fonts/bootstrappackageicon.woff2
Labels: dependencies

#1037 [BUGFIX] Update doctrine usages
  Build/phpstan-baseline.neon
  Build/phpstan.neon
  Classes/Updates/AccordionContentElementUpdate.php
  Classes/Updates/AccordionMediaOrientUpdate.php
  Classes/Updates/BackendLayoutUpdate.php
  Classes/Updates/BulletContentElementUpdate.php
  Classes/Updates/CarouselContentElementUpdate.php
  Classes/Updates/CarouselItemLayoutUpdate.php
  Classes/Updates/CarouselItemTypeUpdate.php
  Classes/Updates/ExternalMediaContentElementUpdate.php
  Classes/Updates/FrameClassToBackgroundUpdate.php
  Classes/Updates/FrameClassUpdate.php
  Classes/Updates/ListGroupContentElementUpdate.php
  Classes/Updates/PanelContentElementUpdate.php
  Classes/Updates/TabContentElementUpdate.php
  Classes/Updates/TabMediaOrientUpdate.php
  Classes/Updates/TableContentElementUpdate.php
  Classes/Updates/TexticonContentElementUpdate.php
  Classes/Updates/TexticonIconUpdate.php
  Classes/Updates/TexticonSizeUpdate.php
  Classes/Updates/TexticonTypeUpdate.php
  composer.json
Labels: dependencies

#1035 [FEATURE] Add container support
  Classes/DataProcessing/ContainerContextProcessor.php
  Configuration/TCA/Overrides/600_ext_container.php
  Configuration/TypoScript/Extension/Container/setup.typoscript
  Configuration/TypoScript/setup.typoscript
  Resources/Private/Layouts/ContentElements/Default.html
  Resources/Private/Partials/ContentElements/Container/Rendering/Container1Columns.html
  Resources/Private/Partials/ContentElements/Container/Rendering/Container2Columns.html
  Resources/Private/Partials/ContentElements/Container/Rendering/Container2ColumnsLeft.html
  Resources/Private/Partials/ContentElements/Container/Rendering/Container2ColumnsRight.html
  Resources/Private/Partials/ContentElements/Container/Rendering/Container3Columns.html
  Resources/Private/Partials/ContentElements/Container/Rendering/Container4Columns.html
  Resources/Private/Templates/ContentElements/Container.html
  Resources/Public/Css/bootstrap4-rte.css
  Resources/Public/Css/bootstrap4-rte.min.css
  Resources/Public/Css/bootstrap4-theme.css
  Resources/Public/Css/bootstrap4-theme.min.css
  Resources/Public/Css/bootstrap5-rte.css
  Resources/Public/Css/bootstrap5-rte.min.css
  Resources/Public/Css/bootstrap5-theme.css
  Resources/Public/Css/bootstrap5-theme.min.css
  Resources/Public/Icons/ContentElements/container-columns-1.svg
  Resources/Public/Icons/ContentElements/container-columns-2-left.svg
  Resources/Public/Icons/ContentElements/container-columns-2-right.svg
  Resources/Public/Icons/ContentElements/container-columns-2.svg
  Resources/Public/Icons/ContentElements/container-columns-3.svg
  Resources/Public/Icons/ContentElements/container-columns-4.svg
  Resources/Public/Scss/bootstrap4/theme.scss
  Resources/Public/Scss/bootstrap5/theme.scss
  Resources/Public/Scss/components/_contentcontainer.scss
  composer.json
Labels: dependencies

#941 [TASK] Optimize Photoswipe opening animation
  Resources/Public/JavaScript/Dist/bootstrap.lightbox.min.js
  Resources/Public/JavaScript/Src/bootstrap.lightbox.js
Labels: task

#1047 [TASK] Update branch alias
  composer.json
Labels: dependencies

#927 [BUGFIX] Wrong table classes and add missing ones
  Configuration/RTE/Default.yaml
Labels: bug
